
.reg-parent {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.reg-container {
    height: 300px;
    width: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    /*background: var(--color-bg-variant);*/
    border-radius: 10px;
    box-shadow: -6px -9px 130px -10px rgba(0, 45, 161, 0.83);

}

.reg-form {
    width: 80%;
    display: flex;
    justify-content: center;

    align-content: center;
    flex-direction: column;


}

.field {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.field > label {

}

.field > input {
    border: 0;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}
.field >button{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background: var(--color-bg-variant) ;
    color: white;
    border: 0;
    cursor: pointer;

}